:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --main-title-color: #ffffff;
  --hero-bg-col: #2f303a;
}

body {
  font-family: Raleway, sans-serif;
  font-family: Roboto, sans-serif;
  background-color: #e5e5e5;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/* цвет основного текста #212121 */
/* цвет вторичного текста #757575 */
/* цвет заголовка героя #FFFFFF */
/* цвет футер контакти rgba(255, 255, 255, 0.6) */
/* цвет акцента #2196F3 */

/* шапка сайта стили */
.head {
  background-color: #ffffff;
}
.header-logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
}
.logo {
  color: #000000;
}

.header-link {
  color: var(--primary-text-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-mail,
.header-tel {
  color: var(--secondary-text-color);
}
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/* секция герой */

.hero {
  background-color: var(--hero-bg-col);
  text-align: center;
}
.hero-title {
  color: var(--main-title-color);
}
.hero-btn {
  background-color: var(--accent-color);
  color: var(--main-title-color);
}
