:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --main-title-color: #ffffff;
  --hero-bg-col: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* цвет основного текста #212121 */
/* цвет вторичного текста #757575 */
/* цвет заголовка героя #FFFFFF */
/* цвет футер контакти rgba(255, 255, 255, 0.6) */
/* цвет акцента #2196F3 */

/*------------- шапка сайта стили ---------------------------*/

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo {
  color: #000000;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/* ---------------секция герой -------------------*/

.hero {
  background-color: var(--hero-bg-col);
  text-align: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.hero-btn {
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* ---------------- направления----------------- */

.vektors {
  background: #e5e5e5;
}
.vectors-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.vektors-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* -------------- О нас ----------------------- */

.about {
  background-color: #e5e5e5;
}
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* ----------------------наша команда---------------- */

.teams {
  background-color: #f5f4fa;
}
.teams-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.teams-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.teams-profession {
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* ---------------футер------------------------- */

.footer-page {
  background-color: var(--hero-bg-col);
}
.footer-logo-one {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-two {
  color: #ffffff;
}
.address-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address-mail,
.address-tel {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address-mail:hover,
.address-mail:focus,
.address-tel:hover,
.address-tel:focus {
  color: var(--accent-color);
}
